body, html{
	height: 100%;
}
html{
	background-color: #DCDCDC;
	margin: 8px;
}
body{
	font-family: Arial, sans-serif;
}
.content{
	text-align: center;
}
table{
	border: 2px solid DarkViolet;
}
table tr td{
	border-top: 1px solid DarkViolet;
}
table th{
	background-color: Plum;
}
.table-headings{
	color: #663399;
}
.alignment{
	text-align: left;
}
tr td:nth-of-type(1) span{
	background-color: white;
	font-size: 13px;
	font-weight: 400;
	font-family: monospace;
}